body {
    font-family: 'Nunito', sans-serif;
}

/* Sign blade */
.sign-heading {
    text-align: center;
}

.sign-form {
    border: 1px black solid;
    border-radius: 5px;
}

.sign-form-parent {
    display: flex;
   justify-content: right;
}

.sign-button {
    text-align: center;
}

.sign-helper {
    text-align: right;
}

/* Dashboard blade */
.auth-user-greeting {
    display: flex;
    align-items: center;
}

.control-buttons {
    display: flex;
    justify-content: right;
}

.nav-parent {
    display: flex ;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

a {
    font-size: 18px;
    margin-top: 20px;
    color: black;
}

.navbar-items {
    display: inline-flex;
    align-items: center;
}

.create-parent {
    display: flex;
    justify-content: center;
}

.form-create {
    margin-top: 30px;
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
}

/* All posts */
.active {
    color: red !important;
    font-size: 19px;
}

.post {
    margin: 10px;
    padding: 15px;
    font-size: 18px;
    border: 1px black solid;
    border-radius: 5px;
    min-height: 300px !important;
}


.all-posts-heading {
    margin-bottom: 50px;
    font-family: Calibri;
    text-decoration: underline;
}

.all-post-heading {
    text-align: center;
    font-size: 24px;
}

.like-btn-parent {
    text-align: right;
}

.action-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.like-name-parent {
    display: flex;
    justify-content: space-between;
}
.user-name {
    text-align: left;
}

/* Profile */
.profile-sections-heading {
    text-decoration: underline;
}

.user-image {
    height: 300px;
    width: 300px;
    border: 1px black solid;
    border-radius: 5px;
}

.user-data {
    font-size: 22px;
}

.profile-posts-parent {
    display: flex;
    justify-content: left;
}

/* details */
.post-image {
    height: 300px;
    width: 300px;
    border: 1px black solid;
    border-radius: 5px;
}

.post-data {
    font-size: 24px;
}

.details-heading {
    /*text-align: center;*/
    font-size: 32px;
}

.details-data-parent {
    display: flex;
    margin-bottom: 15px !important;
}

.post-picture {
    margin-top: 10px;
}

.update-comment-form-parent {
    display: flex;
    justify-content: center;
}

.update-comment-form {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    border: 1px black solid;
    border-radius: 5px;
}

.comment-crud-container {
    display: flex;
    justify-content: flex-start;
}

/* Deleted posts */
.deleted-posts-parent {
    border: 1px black solid;
    border-radius: 5px;
}

.deleted-posts-columns {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    border-right: 1px black solid;
}

.deleted-posts-action-columns {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center !important;
}
